@font-face {
  font-family: 'national2';
  src: url(../fonts/National2CondensedWeb-BoldItalic.woff2);
}

@font-face {
  font-family: 'tiempos_regular';
  src: url(../fonts/TiemposTextWeb-Regular.woff2);
}

@font-face {
  font-family: 'tiempos_bold';
  src: url(../fonts/TiemposTextWeb-Bold.woff2);
}

body {
  margin: 0;
  /* font-family: 'Times New Roman', serif; */
  font-family: tiempos_regular;
  font-size: 20px;
  line-height: 1.5;
  /* color: #333; */
  /* background-color: #f6f6ef; */

}
main {
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  margin-top: 71px;
}

.jumbotron {
  border-radius: 0px !important;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .navbar-dark .navbar-nav .nav-item, .navbar-dark .navbar-nav .nav-link, .navbar-brand {
    font-size: 24px;
  }
  .read-more-btn {
    font-size: 22px;
  }
  main {
    margin-top: 65px;
  }

  .navbar {
    transition: top 0.5s ease;
  }

  .navbar-hide {
    top: -71px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: tiempos_bold;
  /* font-family: arial, sans-serif; */
  /* font-weight: 800; */
  word-break: break-word;
  color: #000;
  font-weight: normal;
}

a, a:visited {
  color: #5522FA;
  outline: 0;
  /* transition: color 0.25s; */
}

/* .navbar a {
  font-family: arial, sans-serif;
} */
.navbar-dark .navbar-nav .nav-item, .navbar-dark .navbar-nav .nav-link, .navbar-brand {
  color: yellow !important;
  font-family: national2 !important;
  font-size: 26px;
}

.navbar-dark a:hover {
  text-decoration: underline;
}

.read-more-btn {
  font-family: national2 !important;
  font-size: 24px;
  text-decoration: underline;
}
.font-national2 {
  font-family: national2 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: yellow;
}

/* .navbar-toggler {
  color: yellow !important;
  border-color: yellow !important;
} */

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
} */

img, video {
  max-width: 100%;
  height: auto;
}

.post-content img, .post-content video {
  border: 1px solid #dedede;
}

a:hover {
  text-decoration: none;
}

.bloom-promo p a {
  text-decoration: underline;
}

.bloom-promo p {
  color: black;
}

.post-meta, .entry-meta {
  margin: 0;
  text-align: center;
  color: #8a8a8a;
  font-size: 20px;
  font-family: national2;
}

.entry-title:hover {
  color: #5522FA;
}

.center, .center p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pager li {
  list-style-type: none;
}

.blm-email-input-col {
  max-width: 65vw;
}
