<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark justify-content-between" id="navbar">
  <a class="navbar-brand" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>

  <div class="align-items-center" id="navbarToggler">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ "about" | relURL }}">About</a>
      </li>
      <!-- <li class="nav-item d-none d-md-block">
        /
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ "readings" | relURL }}">Readings</a>
      </li>
      <li class="nav-item d-none d-md-block">
        /
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="{{ "photos" | relURL }}">Photos</a>
      </li> -->
    </ul>
  </div>
</nav>
