<div class="alert alert-primary bloom-promo" role="alert">
  <div class="row align-middle d-flex flex-wrap align-items-center">
    <div class="col-12">
      <p>
        {{ .Site.Params.StoryHtml | safeHTML }}
      </p>
    </div>
  </div>
</div>
