<div class="row d-flex justify-content-center mb-3">
  <div class="col-xl-6 col-lg-8 col-md-10 col-12">
    <noscript>
      <strong>We're sorry but Open Source Weekly doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="osw-alert"></div>
    <div class="spinner-border text-primary" role="status" style="display: none;" id="osw-loader">
      <span class="sr-only">Loading...</span>
    </div>
    <form class="form-row">
      <div class="form-group col-9 blm-email-input-col">
        <input type="email" class="form-control" id="osw-subscribe-email-input" aria-describedby="emailHelp" placeholder="your@email.com">
      </div>
      <div class="form-group col-3">
        <button class="btn btn-primary" id="osw-subscribe-button-input">Subscribe</button>
      </div>

      <small id="emailHelp" class="form-text text-muted pb-4">We hate spam even more than you do.
        We'll never share your email and you can unsubscribe at anytime. Also there is tracking or ads.</small>
    </form>

    <p class="" style="font-size: 16px;">
      Prefer RSS? <a href='{{ "index.xml" | absURL }}'>Use this URL in your favorite RSS reader</a>.
    </p>

  </div>
</div>

<script type="application/javascript">
  function subscribeToNewsletter(email) {
    showLoader();
    hideAlert();

    var query = 'mutation($input: SubscribeContactInput!) { subscribeContact(input: $input) }';
    var variables = {
      input: {
        projectId: window.shibuiProjectId,
        email: email,
      },
    };
    graphqlReq(query, variables)
    .done(function(data) {
      if (data.errors && data.errors.length > 0) {
        displayError(data.errors[0].message);
        return ;
      }
      window.location.href = '/confirm';
    })
    .fail(function() {
      displayError('Error subscribing. Please try again.');
    })
    .always(function() {
      hideLoader();
    })
  }

  $(document).ready(function() {
    hideLoader();
    $("#osw-subscribe-button-input").click(function(e) {
      e.preventDefault();
      subscribeToNewsletter($('#osw-subscribe-email-input').val());
    });
  });
</script>
