{{ define "main" }}
<div class="jumbotron bg-dark">
  <div class="container text-center">
    <h1 class="display-3 text-white font-national2">{{ .Site.Title }}</h1>
    <p style="color: yellow"><i>{{ .Site.Params.Description }}</i></p>

  </div>
</div>

<div class="container">
  {{ partial "subscribe.html" . }}

  <div class="row d-flex justify-content-center mb-5">
    <div class="col-md-10 col-12 text-left">
      <p>
            <!-- Open source is a revolution of the same magnitude than personal computing.<br /><br />

    Like all revolutions, today's entrenched players are trying to downsize it and capture regulation
    (all the stupid laws on intellectual property acting like computers and internet are a top-down TV network).<br /><br />

    We are building a better world without those dinosaurs. More and more great people from all around the world are contributing to
    the commons by opening their work, whether it be Wikipedia, software, agricultural knowledge, science and so on...
    Creating a compound corpus which everyone (including future generations) can use to improve the quality of life at a global scale.<br /><br />
    -->

    <!--
    <br /><br />
    So I created this weekly newsletter, lovingly curated by hand, to allow you to learn from the ever-increasing number
    of great people from all around the world who are
    opening their work and creating a compound corpus which everyone (including future
    generations) can use to improve the quality of life at a global scale.<br /><br />
        This is their tribune. And this is just the beginning.<br /><br />

    -->

    While developing <a href="https://gitlab.com/bloom42/bloom" target="_blank" rel="noopener">Bloom</a>
    I realized how much I love open source. So I decided to share this passion with the world. Whether it be in software, in hardware, in education, in ecology, in science or in agriculture, open source have proved its superiority.
    <br /><br />

    However it's very difficult to find interesting and quality content in this ocean: just GitHub had over
    <a href="https://github.blog/2018-11-08-100m-repos/" target="_blank" rel="noopener">100M repositories in 2018</a> 🤔
    <br/><br/>

    This is why I created the Open Source Weekly letter: the best projects, people
    and articles on open source, curated by hand.
    <br/><br/>

    Whether you want to make your first contribution, discover interesting projects or people, I will do my best to satisfy you.
    <br/>
    I believe we are just at the beginning of the open source revolution and this is my contribution to spread its greatness.
    <br/><br/>

    by <a href="https://kerkour.fr" target="_blank" rel="noopener">Sylvain Kerkour</a>
    <br />

    Want to contribute? Feel free to open a ticket
    <a href="https://gitlab.com/bloom42/open_source_weekly/issues" target="_blank" rel="noopener">on Gitlab</a>.
      </p>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-12">

      <div class="container text-center mb-3">
        <h1 id="past-issues">Past Issues</h1>
      </div>


      <div class="mt-3">
        {{ $types := slice "" }}
        {{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "IsPage" true) }}
        {{ partial "posts.html" . }}
      </div>

    </div>
  </div>
</div>

{{ end }}
